
<footer class="footer">
    <div class="footer-wrap">
        <div class="devContact">
            <a href="mailto:jozeykhayo@gmail.com" class="footer__link"><i class="fa-solid fa-envelope"></i> jozeykhayo@gmail.com</a>
            <a href="mailto:29hgod@gmail.com" class="footer__link"><i class="fa-solid fa-envelope"></i> 29hgod@gmail.com</a>
        </div>
        <div class="gitCheck">
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/khayowa"><i class="fa-brands fa-github"></i> Khayo</a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/Harry-the-dev"><i class="fa-brands fa-github"></i> Harry</a>
                </li>
            </ul>
        </div>
        <div class="powered">
            <h6>POWERED BY CINTECH</h6>
        </div>
    </div>
</footer>