.title-label-logo{
    font-family: var(--ff-secondary);
    font-size: var(--fs-h1);
    margin-top: 0.01em;
    margin-bottom: 1em;
    border-top: 2px solid #222;
    border-top-width: 100%;
    width: 100%;
    border-left: 2px solid #222;
    border-right: 2px solid #222;
    margin-left: 0.1em;
    margin-right: 0.1em;
    
}

.title-title{
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    font-size: var(--fs-h1);       
}

.spinner{
    border: 16px solid silver;
    border-top: 16px solid #222;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 50%;
    left:50%;
    position: absolute;
}

@keyframes spin{
    0% {transform: rotate(0deg)}
    100% { transform: rotate(-360deg)}
}

hr{
    display:block;
    margin: 5em;
    margin-top: -1.5em;
    
}

