<header>
    <div class="title-label-logo">
        <h1 class="title-title">PriceJuxtapose</h1>
    </div>
</header>
<body>
<app-select-store></app-select-store>
<app-search-bar></app-search-bar>
<hr>
<app-filter-by-product></app-filter-by-product>

<!--<app-display-products></app-display-products>-->
<router-outlet name="outputDisplay"></router-outlet>
<app-make-list></app-make-list>
<router-outlet></router-outlet>
<!--<app-item-results></app-item-results>-->
<!--<app-display-list></app-display-list>-->

</body>
<app-footer></app-footer>

