<section class="products-wrapper">
    <div class="product-listing-filter"><h5>Filter By:</h5></div>
    <div class="product-listing" [(ngModel)]="filterProduct">
        <button class="product-select ">
            <h6 class="text-select">Coffee</h6>
        </button>

        <button class="product-select" >
            <h6 class="text-select">Milk</h6>
        </button>

        <button class="product-select" >
            <h6 class="text-select">Oil</h6>
        </button>

        <button class="product-select" >
            <h6 class="text-select">Eggs</h6>
        </button>

        <button class="product-select" >
            <h6 class="text-select">Maize</h6>
        </button>

    </div>
</section>
