
.products-listing-container{
    margin-top: 3em;
   /* min-width: 700px;*/
   
}


@media (min-width: 1000px){
    .products-listing-container{
        flex-wrap: wrap;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        max-width: 75%;
        /*min-width: 800px;*/     
     }

     .product-name-heading{
        margin-left: 1.5em;
    }
    
    .product-price-heading{
        margin-right: -15em;
    }
  
    .product-store-heading{
        margin-right: 1.5em;
    }
    
    .product-item-price{
        margin-left: 40.5em;
        position: absolute;
    }


}

h6{
    margin-bottom: -2.5px;
    color: rgb(212, 121, 9);
    font-weight: var(--fw-bold);
    
}


/*
.products-listing-container{
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    min-width: 800px;
}*/

.product-container-heading{
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    justify-content: space-between; 
    border: 1.5px solid grey; 
    margin: 2px; 
    padding-top: 5px; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

/*  
.product-name-heading{
    margin-left: 1.5em;
}

.product-price-heading{
    margin-right: 0.5em;
}

.product-store-heading{
    margin-right: 1.5em;
}
*/

.productsContainer{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    overflow: hidden ;
    border: 1px solid grey;
    padding: 8px;
    margin: 4.5px;
    border-radius: 6px;
    box-shadow: 0 1.2px 0 1.2px lightgrey ;
    position: relative;
}
 
.product-store, .product-price,  .product-name{
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

